

.bod{
    display: flex;
    margin-top: 50px;
}

h1{
    text-align: center;
    font-size: 50px;
}

.sub{
    text-align: center;
}

input{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    display: flex;
    border: 0;
    color: black;
}

form {
    margin: 0;        /* Remove auto centering */
    text-align: left; /* Align content left */
}




input:hover{
    box-shadow: 0 0 10px gray;
}

.image{
    margin-left: 300px;
    width: 320px;
}

img {
    width: 90%;
    height: 100px;
}
 
textarea {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    width: 80%;
    font-size: 14px;
    color: black;
}

textarea:hover{
    box-shadow: 0 0 10px gray;
}

button{
    background-color: rgb(207, 78, 78);
    color: white;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    margin-top: 15px;
}

button:hover{
    box-shadow: 0 0 10px gray;
    cursor: pointer;
}

.vehicle{
    margin-bottom: 10px;
}