html {
  scroll-behavior: smooth;
}

.landing-page {
  width: 100%;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
  gap: 40px;
  flex-direction: row;
  width: 100%;
  height: 900px;

  /* Background image */
  background-image: url("../assets/hero.webp"); /* adjust path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  flex: 1;
  max-width: 600px;
  position: absolute;
  top: 20%;
  text-align: center;
  max-width: 800px;
  padding: 20px;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #fff;
}

.hero-text p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 100%;
  height: 300px;
  font-size: 1rem;
  border: 2px dashed #888;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}
