.DivA{
    width:100%;
    height: 110vh;
    background-color:rgb(37, 36, 36);
    display: flex;
}
.DivB1{
    width: 75%;
    height:110vh;
    background-color:rgb(37, 36, 36);
    
}
.DivB1 button{
    background-color:red;
    color:black;
    border-radius: 5px;
    border-width:0cap;
    height: 12vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.DivB1 button:hover{
    cursor: pointer;
    background-color: white;
}

.DivB1a{
    color: white;
    width:100%;
    height: 20vh;
    background-color:rgb(37, 36, 36);
    padding-left: 5%;
}
.DivB1a h6{
    margin-top:0;
    padding-top: 6vh;
    font-weight: lighter;
    font-size: 8vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

.DivB1b{
    width:100%;
    height: 75vh;
    background-color:rgb(37, 36, 36);
    display:flex;
    flex-wrap: wrap;
    
}
.DivB1b1{
    width:50%;
    height: 37.5vh;
    background-color:rgb(37, 36, 36);
    gap:5px;
    display: flex;
}
.DivB1b1 img{
    width: 15%;
    height: 12vh;
    padding-left:2% ;
    
}
.DivB1b1txt{
  background-color:rgb(37, 36, 36);
}
.DivB1b1txt h6{
    color: white;
    margin-top: 1vh;
    margin-right: 30%;
    margin-bottom: 1vh;
    font-weight: lighter;
    font-size: 5vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.DivB1b1txt p{
    font-size: 0.5rem;
    margin-right: 10%;
    color: white;
    font-size: 3vh;
}
.DivB1b2{
   width:50%;
    height: 37.5vh;
    gap:5px;
    display: flex;
    background-color:rgb(37, 36, 36);
}
.DivB1b2 img{
    width: 15%;
    height: 12vh;
    padding-left:2% ;
    
}
.DivB1b2txt{
   background-color:rgb(37, 36, 36);
}
.DivB1b2txt h6{
    color: white;
    margin-top: 1vh;
    margin-right: 30%;
    margin-bottom: 1vh;
    font-weight: lighter;
    font-size: 5vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.DivB1b2txt p{
    font-size: 0.5rem;
    margin-right: 10%;
    color: white;
    font-size: 3vh;
}
.DivB1b3{
   width:50%;
    height: 37.5vh;
    background-color:rgb(37, 36, 36);
    display: flex;
}
.DivB1b3 img{
    width: 15%;
    height: 12vh;
    padding-left:2% ;
    
}
.DivB1b3txt{
  background-color:rgb(37, 36, 36);
}
.DivB1b3txt h6{
    color: white;
    margin-top: 1vh;
    margin-right: 30%;
    margin-bottom: 1vh;
    font-weight: lighter;
    font-size: 5vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.DivB1b3txt p{
    font-size: 0.5rem;
     color: white;
     font-size: 3vh;
   
}
.DivB1b4{
   width:50%;
    height: 37.5vh;
    background-color:rgb(37, 36, 36);
    gap:5px;
    display: flex;
}
.DivB1b4 img{
    width: 15%;
    height: 12vh;
    padding-left:2% ;
    
}
.DivB1b4txt{
 background-color:rgb(37, 36, 36);
}
.DivB1b4txt h6{
    color: white;
    margin-top: 1vh;
    margin-right: 30%;
    margin-bottom: 1vh;
    font-weight: lighter;
    font-size: 5vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.DivB1b4txt p{
    font-size: 0.5rem;
    margin-right: 6%;
    color: white;
    font-size: 3vh;
}

.DivB2{
    width: 25%;
    height:110vh;
    background-color:rgb(37, 36, 36);

}
.Divb2child{
    color: white;
    width: 80%;
    height: 100vh;
    background-color:red;
    border-bottom-right-radius: 5px;
    font-size:8vh;
    display:grid;
    position: relative;
    overflow: visible;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Divb2child img{
    width:85%;
    height: 35vh;
    background-color: transparent;
    position: absolute;
    right:43%;
    top:70vh;
}

.vm {
  background-color: red;     
  color: white;              
  font-size: 2rem;           
  padding: 12px 24px;        
  border: none;              
  border-radius: 30px;       
  cursor: pointer;           
  font-weight: bold;         
  transition: all 0.3s ease; 
  margin-left: 400px;
}

.vm:hover {
  background-color: darkred; 
  box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}
